/* タブレット */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  .heading {
    padding:80px 0 50px 0;
  }
  .heading h2 {
    font-size: 20px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  footer {
    text-align: center;
  }

}

/* スマホ */
@media all and (max-width: 670px) {

  .btn {
    width: 100%;
  }
  .message {
    padding: 15px 40px;
  }
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .heading h2 {
    font-weight: normal;
  }

  .lesson {
    width: 100%;
  }
  footer {
    text-align: center;
  }

  
}
